@model ProyectoMoya.Models.Category

@{
    ViewBag.Title = "Create";
}

<section id="cart_items">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-1">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Crear Categoria</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cart_product">
                                    <div class="login-form">
                                        <!--login form-->
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-horizontal">
                                                <hr />
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-md-offset-2 col-md-10">
                                                        <input type="submit" value="Create" class="btn btn-default" />
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div><!--/login form-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
